* {
    text-align: center;
    background-color: black;
    color: white;
}

img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    display: block;
    margin: -5px;
}

.recipes-list {
    list-style: none;
    display: inline-block;
    line-height: 30px;
    padding-top: 5px;
    padding-right: 40px;
}

body {
    padding-top: 50px;
}